<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active mx-auto" aria-current="page">Register User:</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="row g-3 needs-validation w-50 mx-auto" method="POST" action="../register">
  {{!-- {{> user-register-form}} --}}
  <div class="row-mb-3">
    <div class="form-floating col-sm-12">
      <input type="Full Name" class="form-control" id="floatingInput" value="{{this.full_name}}" placeholder="Full Name"
        name="full_name" required>
      <label for="floatingInput">Full Name</label>
    </div>
  </div>
  <div class="row-mb-3">
    <div class="form-floating col-sm-12">
      <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email"
        name="email" required>
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="row-mb-3">
    <div class="form-floating col-sm-12">
      <input type="password" class="form-control" id="password" value="{{this.password}}" placeholder="password"
        name="password" required>
      <label for="floatingInput">Password</label>
    </div>
  </div>

  <div class="row-mb-3">
    <div class="form-floating col-sm-12">
      <input type="password" class="form-control" id="confirm_password" value="" placeholder="Confirm Password" name=""
        required>
      <label for="floatingInput">Confirm Password</label>
    </div>
  </div>

  <div class="col-sm-3 d-grid">
    <button class="btn btn-secondary" type="submit">Register</button>
  </div>
  <p>Have an account? Please <a href="/login" class="text-dark mx-auto">Login!</a></p>
</form>

<script>
  const password = document.getElementById("password");
  const confirm_password = document.getElementById("confirm_password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>